
@font-face {
  font-family: 'iconfont';  /* project id 2108077 */
  src: url('https://at.alicdn.com/t/font_2108077_pypx6wu0xdq.eot');
  src: url('https://at.alicdn.com/t/font_2108077_pypx6wu0xdq.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2108077_pypx6wu0xdq.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2108077_pypx6wu0xdq.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2108077_pypx6wu0xdq.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2108077_pypx6wu0xdq.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou8:before {
  content: "\e60b";
}

.icon-rili:before {
  content: "\e797";
}


.icon-cebianlandanchu:before {
  content: "\e602";
}

.icon-zuojiantou:before {
  content: "\e62e";
}
.icon-shanchu:before {
  content: "\e614";
}

.icon-youjiantou1:before {
  content: "\e62a";
}

.icon-xiugai:before {
  content: "\e631";
}

.icon-gouwuche:before {
  content: "\e628";
}

.icon-weixinzhifu:before {
  content: "\e604";
}

.icon-zhifubaozhifu:before {
  content: "\e605";
}

.icon-youjiantou:before {
  content: "\e61c";
}

.icon-dizhi:before {
  content: "\e62d";
}

.icon-tuichudenglu:before {
  content: "\e610";
}

.icon-jifen:before {
  content: "\e61a";
}

.icon-icon-geren:before {
  content: "\e60a";
}

.icon-address_icon:before {
  content: "\e656";
}

.icon-qianbao:before {
  content: "\e70a";
}

.icon-pingjia:before {
  content: "\e60e";
}

